body {
  background-image: url(starry.jpeg);
  background-position: center;
}

.all {
  display: flex;
}

.hold {
  width: 175px;
  height: 175px;
  text-align: center;
  margin-right: 0;
  margin-top: 50px;
  margin-left: auto;
  background-color: black;
  border: 4px solid white;
  display: flex;
  flex-wrap: wrap;
}

.left {
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.hold div {
  height: 35px;
  width: 35px;
  display: block;
}

.next {
  text-align: center;
  width: 175px;
  margin-right: auto;
  margin-top: 50px;
  margin-left: 0;
  background-color: black;
  border: 4px solid white;
  display: flex;
  flex-wrap: wrap;
}

.next div {
  height: 35px;
  width: 35px;
  display: block;
}

.grid {
  width: 350px;
  height: 700px;
  text-align: center;
  margin-right: 0;
  margin-top: 50px;
  margin-left: 0;
  background-color: black;
  border: 4px solid white;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 35px;
  width: 35px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
}

.state {
  width: 175px;
  height: 100px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: black;
  border: 4px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.instruct {
  width: 182px;
  height: 100px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: black;
  border: 10px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.instruct:hover {
  background-color: rgba(255, 255, 255, 0.416);
}

.instruct:active {
  background-color: rgba(255, 255, 255, 0.699);
}

.otherspeed{
  width: 70px;
  height: 70px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: black;
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.otherspeed:hover {
  background-color: rgba(255, 255, 255, 0.416);
}

.otherspeed:active {
  background-color: rgb(0, 225, 255)
}

.in_this_speed{
  width: 70px;
  height: 70px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: rgb(62, 233, 255);
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.in_this_speed:hover {
  background-color: rgba(255, 255, 255, 0.416);
}

.in_this_speed:active {
  background-color: rgba(255, 255, 255, 0.699);
}


.nonchosen{
  width: 140px;
  height: 70px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: black;
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.nonchosen:hover {
  background-color: rgba(255, 255, 255, 0.416);
}

.nonchosen:active {
  background-color: rgb(0, 225, 255)
}

.chosen{
  width: 140px;
  height: 70px;
  text-align: center;
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  background-color: rgb(62, 233, 255);
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  color: white;
  font-family: "微軟正黑體";
}

.chosen:active {
  background-color: rgba(255, 255, 255, 0.699);
}

.i {
  position: relative;
  background-color: #00ecec;
}

.i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #00FFFF;
}

.j {
  position: relative;
  background-color: #0000cc;
}

.j::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #0000FF;
}

.l {
  position: relative;
  background-color: #cc8400;
}

.l::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #FFA500;
}

.o {
  position: relative;
  background-color: #cccc00;
}

.o::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #FFFF00;
}

.s {
  position: relative;
  background-color: #00cc00;
}

.s::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #00FF00;
}

.t {
  position: relative;
  background-color: #ba00ba;
}

.t::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #d700d7;
}

.z {
  position: relative;
  background-color: #cc0000;
}

.z::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #FF0000;
}

.gray{
  position: relative;
  background-color: rgba(128, 128, 128, 0.603);
}

.gray::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.692);
}

.preview {
  position: relative;
  opacity:50%;
  background-color: rgba(255, 255, 255, 0.596);
}

.preview::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.342);
}