<html>

<head>
  <link rel="stylesheet" media="screen" href="particles/find.css">
</head>

<body>

  <div id="particles-js"></div>

  <div id="registration-container">
    <h1>TETRIS ONLINE</h1>
    <br>
    <form id="fm" action="/find" method="post">
      <label for="username">E-mail：</label>
      <br><br>
      <input type="text" id="username" name="email" class="f" value="<%= email %>">
      <br><br>
      <label for="password">密碼：</label>
      <br><br>
      <input type="password" id="password" name="psw" class="f" value="<%= psw %>">
      <br><br>
      <label for="username">確認密碼：</label>
      <br><br>
      <input type="password" id="username" name="psw2" class="f" value="<%= psw2 %>">
      <% if(s!=""){ %>
        <h2><%= s %></h2>
      <% }else{ %>
        <br><br>
      <% } %>
      <input type="button" class="find" value="更改密碼" onclick="bt()"></input>
    </form>
  </div>

  <script src="particles/particles.min.js"></script>
  <script src="particles/setting.js"></script>
  <script>
    function bt() {
      var button = document.querySelector('.find');
      button.style.backgroundColor = 'rgb(0, 0, 255)';
      button.style.transform = 'scale(0.95)';
      setTimeout(function() {
        document.querySelector('#fm').submit();
      }, 200);
    }
    window.addEventListener("keydown", function (input_key) {
      if (input_key.code == "Enter") {
        bt()
      }
    })
  </script>

</body>

</html>
