<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TETRIS ONLINE - 遊戲</title>
  <link rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/gh/wrr606/Tetris/Tetris_v3/template/particles/signup.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wrr606/Tetris/Tetris_v3/template/tetris/tetris.css">
</head>
<body>
  <div id="particles-js"></div>
  <div class="all">
    <div class="list">
      {% if player %}
        <div class="id">{{ player.act }}</div>
        <div class="container">
          <input type="button" class="account" value="帳號" onclick="act()">
          <input type="button" class="password" value="登出" onclick="logout()">
        </div>
      {% else %}
        <div class="id">訪客</div>
        <div class="container">
          <input type="button" class="account" value="註冊" onclick="sign()">
          <input type="button" class="password" value="登入" onclick="login()">
        </div>
      {% endif %}
    </div>

    <div class="left">
      <div class="hold"></div>
      <div class="state">0</div>
      <input type="button" id="rank" class="rank" value="排行榜" onclick="rank()">
      <input type="button" class="instruct" value="按鍵說明">
    </div>

    <div class="grid"></div>
    <div class="next"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/gh/wrr606/Tetris/Tetris_v3/template/particles/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/wrr606/Tetris/Tetris_v3/template/particles/tetris_setting.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/wrr606/Tetris/Tetris_v3/template/tetris/tetris.js"></script>
  {% if player %}
  <script>
    function act()    { window.location.href = '/information'; }
    function logout() { window.location.href = '/logout'; }
    function rank()   { window.location.href = '/rank'; }
  </script>
  {% else %}
  <script>
    function sign()  { window.location.href = '/signup'; }
    function login() { window.location.href = '/'; }
    function rank()  { window.location.href = '/rank'; }
  </script>
  {% endif %}
</body>
</html>
